CLICK_SERVICE_ID=100711
CLICK_MERCHANT_ID=59690
CLICK_MERCHANT_USER_ID=82314
CLICK_SECRET_KEY=replace_with_new_click_secret_key
BASE_URL=https://your-render-domain.onrender.com
TELEGRAM_BOT_TOKEN=replace_with_new_bot_token
ADMIN_CHAT_ID=
CLICK_CARD_TYPE=uzcard
DB_PATH=tickets.db
